@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-svg-core/styles.css';

/* body {
  font-family: 'Poiret One', sans-serif;
} */

html, body {
  height: fit-content;
  width: 100%;
}

body {
  @apply bg-gradient-to-br from-rose-100 via-slate-100 to-teal-100 font-roboto 
  /* @apply bg-gradient-to-tl from-blue-100 via-blue-50 to-cyan-100 font-roboto  */
  /* @apply bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 font-roboto  */
}

.dr-dwn {
  @apply max-h-0 overflow-hidden opacity-0;
  transition: max-height 0.5s ease-in-out, opacity 0.2s ease-in;
}

.is-active > .dr-dwn{
  @apply max-h-screen opacity-100;
}

#navbar {
  transition: all 100ms ease-in-out;
  @apply bg-gradient-to-r from-rose-100 to-slate-100 shadow;
  /* @apply bg-gradient-to-br from-blue-100 via-blue-50 to-cyan-100 shadow; */
  /* background-color: transparent; */
}

.nav-bg-white #navbar {
  @apply bg-slate-900;
}

@media (max-width: 1024px) {
  
  #navbar {
    @apply bg-gray-900;
  }
  .navbar-item {
    @apply text-yellow-900
  }
}

.navbar-item {
  @apply text-yellow-900;
}

.navbar-item:hover {
  opacity: 0.6;
}


.nav-bg-white .navbar-item  {
  color: red;
}